.vscode/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
WebGL Builds/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
.vs/
*/__pycache__/
ino2obj.stdout

# WebGL Publisher
/WebGL Builds/**
connectwebgl.zip
# Optional, but I don't like having my build folder added to this public repo
ProjectSettings/Packages/com.unity.connect.share/Settings.json

# See https://forum.unity.com/threads/link-xml-part-of-version-control.1227360/#post-8190567
MakeMeLaugh/Assets/AddressableAssetsData/link.xml*
